.container {
    .buttonMorePosts {
        cursor: pointer;
        color: var(--pink-500);
        font-weight: 600;
        display: inline-block;
        line-height: 1.36125rem;
        margin: 4rem 0;
        transition: 0.2s;
        &:hover{
            filter: brightness(0.9);
        }
    }
    .post{
        ~ article{
            margin-top: 2rem;
        }
        a {
            h1{
                transition: 0.3s;
            }
            &:hover{
                h1 {
                    color: var(--pink-500)
                }
            }
        }
    }
    .postInfos {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        .author {
            padding-left: 1.5rem;
        }
    }

    .author, .updatedAt {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 2.25rem;
    }
    
    time, .author > p {
        font-size: 0.875rem;
        color: var(--gray-200);
        padding-left: 0.5rem;
    }
}