.post {
    .author, .updatedAt {
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 2.25rem;
    }
    
    time, .author > p {
        font-size: 0.875rem;
        color: var(--gray-200);
        padding-left: 0.5rem;
    }

    .postInfos {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        .author {
            padding-left: 1.5rem;
        }
    }

    .title {
        font-size: 3rem;
    }

    .content {
        margin-top: 1rem;
        h2 {
            font-size: 1.75rem;
            font-weight: 600;
            color: var(--white-200);
            padding: 1.5rem 0;
        }
        p {
            margin: 1rem 0;
        }
    }
}

.header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0rem 3rem;
}

.banner {
    display: block;
    width: 100%;    
    max-width: 1120px;
    img {
        object-fit: cover;
    }
}
.lastUpdate {
    display: inline-block;
    padding:0;
    margin:0.5rem 0;
    font-style: italic;
    font-size: 0.875rem;
    
    time {
        padding:0
    }
}
.navPosts {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    padding-top: 3.5rem;
    margin: 5rem auto;
    .nextPost p, .previousPost p {
        font-size: 1.125rem;
    }
    .nextPost a, .previousPost a {
        line-height: 1.5rem;
        color: var(--pink-500);
        font-weight: 600;
        
    }
    .nextPost{
        text-align: right;
    }
    .previousPost {
        text-align: left;
    }
    .previousPost a, .nextPost a{
        transition: 0.5s;
        &:hover{
            filter: brightness(0.8);
        }
    }
}
